*~
*.pdf
*.synctex.gz
*.log
*.aux
*.toc
*.out
*.dvi
*.bbl
*.blg
*.nav
*.snm
*.auxlock
*.dpth
*.md5
*.ps
*.csv
*.zip
*.pyc
*.tar.gz

data
raw_data
results
cache
plots
results-copy
arch-test-venv
.idea
models
sched_opt_results
catboost_info
data_v2
openml_cache
examples/.ipynb_checkpoints

custom_paths.py
